.Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  visibility: hidden;
}

.Shopping-Cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 1.6rem;
  border-radius: 10px;
  overflow-y: auto;
  background-color: white;
}


@media (min-width: 300px) {
  .Shopping-Cart {
    width: 90%;
    height: 90%;
  }
}

@media (min-width: 768px) {
  .Shopping-Cart {
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 1024px) {
  .Shopping-Cart {
    width: 60%;
    height: 80%;
  }
}

.Background.None {
  user-select: none;
  animation: fadebackground 500ms;
}

.Background.Show {
  visibility: visible;
}

.Shopping-Cart.Show {
  user-select: none;
  animation: PositionTop 500ms;
}

.Shopping-Cart.None {
  animation: PositionBottom 500ms;
}

/* Animations */
@keyframes fadebackground {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes PositionTop {
  0% {
    top: -400px;
  }

  100% {
    top: 50%;
  }
}

/* Bottom */
@keyframes PositionBottom {
  0% {
    top: 50%;
  }

  100% {
    top: -400px;
    opacity: 0;
  }
}

.Cart-Count .Cart-quantity {
  margin: 0;
  padding: 0px 10px;
  font-weight: 500;
}