.Header {
  position: sticky;
  top: 0;
  z-index: 9;
  padding: 20px 0px;
  background: white;
  box-shadow: 0px 3px 2px rgb(0 0 0 / 6%);
}

.Header a {
  text-decoration: none;
}

.Logo {
  display: block;
  width: 60px;
}

.Header-Container {
  display: flex;
  align-items: center;
  grid-gap: 50px;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1300px;
  margin: auto;
}

.Header-Container nav {
  display: none;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}

.Header-Container nav a {
  color: black;
  font-weight: 600;
}

.Header-Container .Cart {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.Header-Container .Cart img {
  display: block;
}

.Header-Container .Cart .Count {
  top: -20px;
  right: -25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fa4a0c;
  padding: 3px 8px;
  border-radius: 50px;
}

.Header-Container .Cart .Count span {
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .Logo {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .Header-Container nav {
    display: flex;
  }
}